.gallery{
    display:flex;
    background-color: blue;
    flex:1;
    justify-content: center;
    align-items: center;
}
.gallery-background{
    background-color: #949494;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.previous,.next,.image{
    width:fit-content;
}
.next-button, .back-button{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.next-button:hover,.back-button:hover{
    background-color: #b5b5b5;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}